.dot {
    background-color: #e4aab6;
}

.active-b,
.dot:hover {
    background-color: #e44141;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    background-size: 20%;
    background-position: 50% 50%;
}